# idioms

In [1]:
import numpy as np
np.random.seed(1234)
import pandas as pd
pd.options.display.max_rows=8
pd.__version__

'0.18.1'

In [2]:
# group creator
def create_frame(n, n_groups):
    stamps = pd.date_range('20010101',periods=n,freq='ms')
    random.shuffle(stamps.values)    
    return DataFrame({'name'  : np.random.randint(0,n_groups,size=n),
                      'stamp' : stamps,
                      'value' : np.random.randint(0,n,size=n),
                      'value2' : np.random.randn(n)})

In [3]:
create_frame(100,3)

    name                   stamp  value    value2
0      2 2001-01-01 00:00:00.029     21  0.562292
1      1 2001-01-01 00:00:00.072     71 -1.288213
2      0 2001-01-01 00:00:00.085     68  0.453690
3      0 2001-01-01 00:00:00.032     81 -0.021356
..   ...                     ...    ...       ...
96     2 2001-01-01 00:00:00.020     17 -0.873411
97     1 2001-01-01 00:00:00.001     39 -1.428461
98     2 2001-01-01 00:00:00.058     59  0.003133
99     1 2001-01-01 00:00:00.052     82  0.071285

[100 rows x 4 columns]

# unwrapping groupby

In [4]:
df = create_frame(100000,10000)

def f_apply(df):
    return df.groupby('name').value2.apply(lambda x: (x-x.mean())/x.std())
def f_unwrap(df):
    g = df.groupby('name').value2
    v = df.value2
    return (v-g.transform('mean'))/g.transform('std')

In [5]:
np.allclose(f_apply(df),f_unwrap(df))

False

In [6]:
%timeit f_apply(df)

1 loop, best of 3: 2.75 s per loop

In [7]:
%timeit f_unwrap(df)

100 loops, best of 3: 7.17 ms per loop

YMMV

In [8]:
df = create_frame(1000000,100)

In [9]:
%timeit f_apply(df)

10 loops, best of 3: 208 ms per loop

In [10]:
%timeit f_unwrap(df)

10 loops, best of 3: 40.5 ms per loop

# if then

In [11]:
df = create_frame(100000,1000)

In [12]:
def result_apply(df):
    return df.value.apply(lambda x: np.nan if x < 30000 else x)
def result_where(df):
    return df.value.where(df.value>=30000)

In [13]:
result_apply(df).equals(result_where(df))

True

In [14]:
%timeit result_apply(df)

10 loops, best of 3: 36.5 ms per loop

In [15]:
%timeit result_where(df)

1000 loops, best of 3: 1.2 ms per loop