In [18]:
import pandas as pd
pd.options.display.max_rows=12
pd.__version__

'0.19.0+712.g66140df'

In [19]:
df = pd.DataFrame({'A' : range(5), 'B': [1, 1, 1, 2, 2]})
df

   A  B
0  0  1
1  1  1
2  2  1
3  3  2
4  4  2

In [20]:
df.groupby('B').sum()

   A
B
1  3
2  7

In [21]:
df.groupby('B').A.agg(['sum', 'mean', 'max', 'min'])

   sum  mean  max  min
B
1    3   1.0    2    0
2    7   3.5    4    3

In [22]:
df.agg('sum')

A    10
B     7
dtype: int64

In [23]:
df.sum()

A    10
B     7
dtype: int64

In [24]:
df.agg(['sum', 'mean', 'max', 'min'])

         A    B
sum   10.0  7.0
mean   2.0  1.4
max    4.0  2.0
min    0.0  1.0

## Custom Describe

In [25]:
df.describe()

              A         B
count  5.000000  5.000000
mean   2.000000  1.400000
std    1.581139  0.547723
min    0.000000  1.000000
25%    1.000000  1.000000
50%    2.000000  1.000000
75%    3.000000  2.000000
max    4.000000  2.000000

In [26]:
from functools import partial

q_25 = partial(pd.Series.quantile, q=0.25)
q_25.__name__ = '25%'
q_75 = partial(pd.Series.quantile, q=0.75)
q_75.__name__ = '75%'

In [27]:
df.agg(['count', 'mean', 'std', 'min', q_25, 'median', q_75, 'max'])

               A         B
count   5.000000  5.000000
mean    2.000000  1.400000
std     1.581139  0.547723
min     0.000000  1.000000
25%     1.000000  1.000000
median  2.000000  1.000000
75%     3.000000  2.000000
max     4.000000  2.000000