In [13]:
import pandas as pd
pd.__version__

'0.19.2'

In [14]:
df = pd.DataFrame({'A' : range(5)})
df

   A
0  0
1  1
2  2
3  3
4  4

In [15]:
c = pd.cut(df.A, 3)
c

0    (-0.004, 1.333]
1    (-0.004, 1.333]
2     (1.333, 2.667]
3         (2.667, 4]
4         (2.667, 4]
Name: A, dtype: category
Categories (3, object): [(-0.004, 1.333] < (1.333, 2.667] < (2.667, 4]]

In [16]:
c.cat.categories

Index(['(-0.004, 1.333]', '(1.333, 2.667]', '(2.667, 4]'], dtype='object')

In [17]:
df.index = c.rename('B')
df

                 A
B
(-0.004, 1.333]  0
(-0.004, 1.333]  1
(1.333, 2.667]   2
(2.667, 4]       3
(2.667, 4]       4

In [18]:
df.loc['(1.333, 2.667]']

A    2
Name: (1.333, 2.667], dtype: int64