In [1]:
import pandas as pd
pd.options.display.max_rows=10
pd.__version__

'0.19.0+714.g22b5866'

## Interval Index

In [3]:
df = pd.DataFrame({'A' : range(5)})
df

   A
0  0
1  1
2  2
3  3
4  4

In [4]:
c = pd.cut(df.A, bins=3)
c

0    (-0.004, 1.333]
1    (-0.004, 1.333]
2     (1.333, 2.667]
3       (2.667, 4.0]
4       (2.667, 4.0]
Name: A, dtype: category
Categories (3, interval[float64]): [(-0.004, 1.333] < (1.333, 2.667] < (2.667, 4.0]]

In [5]:
c.cat.categories

IntervalIndex([(-0.004, 1.333], (1.333, 2.667], (2.667, 4.0]]
              closed='right',
              dtype='interval[float64]')

In [6]:
i = c.cat.categories[0]
i

Interval(-0.0040000000000000001, 1.333, closed='right')

In [7]:
i.left, i.right, i.closed

(-0.0040000000000000001, 1.333, 'right')

In [8]:
df.index = c.rename('B')
df

                 A
B
(-0.004, 1.333]  0
(-0.004, 1.333]  1
(1.333, 2.667]   2
(2.667, 4.0]     3
(2.667, 4.0]     4

In [9]:
df.loc[3]

              A
B
(2.667, 4.0]  3
(2.667, 4.0]  4

In [10]:
df.loc[[0, 4]]

                 A
B
(-0.004, 1.333]  0
(-0.004, 1.333]  1
(2.667, 4.0]     3
(2.667, 4.0]     4

In [15]:
C = np.random.randint(0,5, size=5)
C_binned = pd.cut(C, bins=df.index.categories)

In [17]:
df = df.reset_index().assign(C=C, C_binned=C_binned)
df

                 B  A  C         C_binned
0  (-0.004, 1.333]  0  1  (-0.004, 1.333]
1  (-0.004, 1.333]  1  3     (2.667, 4.0]
2   (1.333, 2.667]  2  3     (2.667, 4.0]
3     (2.667, 4.0]  3  3     (2.667, 4.0]
4     (2.667, 4.0]  4  0  (-0.004, 1.333]

In [18]:
df.dtypes

B           category
A              int64
C              int64
C_binned    category
dtype: object