In [30]:
s = Series(['A|B|C','D|E']).str.split('|').apply(Series).stack()
s

0  0    A
   1    B
   2    C
1  0    D
   1    E
dtype: object

In [28]:
df = DataFrame({'A' : [1,2], 'B' : s})
df

   A          B
0  1  [A, B, C]
1  2     [D, E]

In [29]:
pd.concat([df.A.to_frame(),df.B.apply(Series)],axis=1)

   A  0  1    2
0  1  A  B    C
1  2  D  E  NaN

# Grouping

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

pd.options.display.max_rows = 6
pd.options.display.max_columns = 6
pd.options.display.width = 80

We'll use the same dataset of beer reviews.

In [24]:
df = pd.read_hdf('data/beer.hdf')
df

,abv,beer_id,brewer_id,...,review_taste,text,time
0,7.0,2511,287,...,4.5,Batch 8144\tPitch black in color with a 1/2 f...,2009-10-05 21:31:48
1,5.7,19736,9790,...,4.0,Sampled from a 12oz bottle in a standard pint...,2009-10-05 21:32:09
2,4.8,11098,3182,...,3.5,Haystack yellow with an energetic group of bu...,2009-10-05 21:32:13
...,...,...,...,...,...,...,...
49997,8.1,21950,2372,...,4.5,Poured a light sucking crude oil beckoning bl...,2009-12-25 17:23:52
49998,4.6,5453,1306,...,3.5,"500ml brown bottle, 4.0% ABV. Pours a crystal...",2009-12-25 17:25:06
49999,9.4,47695,14879,...,4.5,"22 oz bottle poured into a flute glass, share...",2009-12-25 17:26:06

# Groupby

Groupby is a fundamental operation to pandas and data analysis.

The components of a groupby operation are to

1. Split a table into groups
2. Apply a function to each groups
3. Combine the results

http://pandas.pydata.org/pandas-docs/stable/groupby.html

In [3]:
gr = df.groupby('beer_style')
gr

Haven't really done anything yet. Just some book-keeping to figure out which **keys** go with which rows. Keys are the things we've grouped by (each `beer_style` in this case).

In [4]:
gr.ngroups

104

In [5]:
list(gr.groups)[0:5]

['Flanders Oud Bruin',
 'Cream Ale',
 'American IPA',
 'English Pale Ale',
 'Belgian Pale Ale']

In [6]:
gr.get_group('Tripel')

,abv,beer_id,brewer_id,...,review_taste,text,time
42,8.0,1631,48,...,4.0,"Was perusing a store for some new items, and ...",2009-10-05 22:12:23
79,8.5,5426,2085,...,4.0,Appearance: Pours a very cloudy chestnut colo...,2009-10-05 23:02:42
102,10.0,2566,222,...,4.0,Poured a nice slightly cloudy golden yellow w...,2009-10-05 23:31:27
...,...,...,...,...,...,...,...
49882,8.0,1631,48,...,4.0,"Pours a golden amber, with a big head that st...",2009-12-25 05:02:03
49945,7.8,1054,192,...,3.5,A- It's pretty. Nice golden yellow. Nice and ...,2009-12-25 08:41:01
49949,8.0,658,184,...,3.5,From a 750 ml caged and corked brown bottle. ...,2009-12-25 09:39:25

In [7]:
df.loc[df.beer_style=='Tripel']

,abv,beer_id,brewer_id,...,review_taste,text,time
42,8.0,1631,48,...,4.0,"Was perusing a store for some new items, and ...",2009-10-05 22:12:23
79,8.5,5426,2085,...,4.0,Appearance: Pours a very cloudy chestnut colo...,2009-10-05 23:02:42
102,10.0,2566,222,...,4.0,Poured a nice slightly cloudy golden yellow w...,2009-10-05 23:31:27
...,...,...,...,...,...,...,...
49882,8.0,1631,48,...,4.0,"Pours a golden amber, with a big head that st...",2009-12-25 05:02:03
49945,7.8,1054,192,...,3.5,A- It's pretty. Nice golden yellow. Nice and ...,2009-12-25 08:41:01
49949,8.0,658,184,...,3.5,From a 750 ml caged and corked brown bottle. ...,2009-12-25 09:39:25

The last two steps, apply and combine:

In [8]:
gr.agg('mean')

,abv,beer_id,brewer_id,...,review_overall,review_palate,review_taste
beer_style,,,,,,,
Altbier,5.936331,28241.698324,4724.486034,...,3.790503,3.689944,3.703911
American Adjunct Lager,4.880552,9403.638070,1541.485255,...,3.071716,2.733244,2.674933
American Amber / Red Ale,6.135963,23557.469145,3314.523420,...,3.833829,3.694796,3.734944
...,...,...,...,...,...,...,...
Wheatwine,10.766667,44146.641618,2363.132948,...,3.722543,3.872832,3.947977
Winter Warmer,6.520407,22726.750603,2315.001609,...,3.805310,3.703540,3.767900
Witbier,5.850545,29447.023904,3096.407703,...,3.742364,3.567729,3.624170

This says apply the `mean` function to each column. Non-numeric columns (nusiance columns) are excluded. We can also select a subset of columns to perform the aggregation on.

Find the `beer_style` with the greatest variance in `abv`.

In [9]:
(df
   .groupby('beer_style')
   .abv
   .std()
   .sort_values(ascending=False)
 )

beer_style
American Strong Ale                 3.506721
American Double / Imperial Stout    2.785742
Flanders Oud Bruin                  2.723145
                                      ...
Gose                                0.185557
Low Alcohol Beer                    0.121006
Happoshu                            0.000000
Name: abv, dtype: float64

Multiple aggregations on multiple columns

In [10]:
cols = df.columns[df.columns.str.startswith('review')]
result = gr[cols].agg(['mean', 'count', 'std'])
result.columns.names=['characteristic','measure']
result

characteristic           review_appearance                    ...     \
measure                               mean count       std    ...
beer_style                                                    ...
Altbier                           3.776536   179  0.578459    ...
American Adjunct Lager            2.783512   746  0.751988    ...
American Amber / Red Ale          3.836431  1345  0.524699    ...
...                                    ...   ...       ...    ...
Wheatwine                         3.916185   173  0.508844    ...
Winter Warmer                     3.864441  1243  0.496289    ...
Witbier                           3.634794   753  0.581826    ...

characteristic           review_taste
measure                          mean count       std
beer_style
Altbier                      3.703911   179  0.608033
American Adjunct Lager       2.674933   746  0.815884
American Amber / Red Ale     3.734944  1345  0.640439
...                               ...   ...       ...
Wheatwine                    3.947977   173  0.624275
Winter Warmer                3.767900  1243  0.621533
Witbier                      3.624170   753  0.674517

[104 rows x 15 columns]

Group by **multiple** columns

In [16]:
df.groupby(['brewer_id', 'beer_style'])[cols].mean()

                                          review_appearance  review_aroma  \
brewer_id beer_style
1         Czech Pilsener                           3.589286      3.410714
3         American Adjunct Lager                   3.250000      2.500000
          American Amber / Red Ale                 3.694444      3.416667
...                                                     ...           ...
24964     American Malt Liquor                     3.000000      2.000000
25680     Euro Pale Lager                          4.000000      3.500000
27039     American Double / Imperial IPA           4.500000      4.500000

                                          review_overall  review_palate  \
brewer_id beer_style
1         Czech Pilsener                           3.875       3.571429
3         American Adjunct Lager                   3.750       3.500000
          American Amber / Red Ale                 3.750       3.638889
...                                                  ...            ...
24964     American Malt Liquor                     3.250       2.750000
25680     Euro Pale Lager                          3.500       3.500000
27039     American Double / Imperial IPA           4.750       4.750000

                                          review_taste
brewer_id beer_style
1         Czech Pilsener                      3.660714
3         American Adjunct Lager              2.750000
          American Amber / Red Ale            3.611111
...                                                ...
24964     American Malt Liquor                3.250000
25680     Euro Pale Lager                     3.500000
27039     American Double / Imperial IPA      4.750000

[7580 rows x 5 columns]

# Transform

Combined Series / DataFrame is the same shape as the input. For example, say you want to standardize the reviews by subtracting the mean.

In [17]:
def de_mean(reviews):
    s = reviews - reviews.mean()
    return s

In [18]:
de_mean(df.review_overall)

0        0.65018
1        0.65018
2       -0.84982
          ...
49997    1.15018
49998    0.15018
49999    1.15018
Name: review_overall, dtype: float64

In [19]:
df.groupby('profile_name').transform(de_mean)

,abv,beer_id,brewer_id,...,review_overall,review_palate,review_taste
0,-2.763000,-14386.800000,-250.800000,...,0.500000,-0.100000,0.450000
1,-1.501562,-12613.333333,3168.025641,...,0.397436,0.038462,-0.012821
2,-2.072727,-10567.348485,805.833333,...,-0.803030,-0.568182,-0.287879
...,...,...,...,...,...,...,...
49997,0.400000,4817.388889,1236.833333,...,0.916667,0.777778,0.555556
49998,-1.625862,-36774.032258,-4302.516129,...,-0.112903,-0.838710,-0.774194
49999,2.165500,20759.950000,12161.450000,...,0.925000,0.575000,0.375000

Oftentimes is better to work with the groupby object directly

In [20]:
(df-df.groupby('profile_name').transform('mean')
).select_dtypes(exclude=['object'])

,abv,beer_id,brewer_id,...,review_overall,review_palate,review_taste
0,-2.763000,-14386.800000,-250.800000,...,0.500000,-0.100000,0.450000
1,-1.501562,-12613.333333,3168.025641,...,0.397436,0.038462,-0.012821
2,-2.072727,-10567.348485,805.833333,...,-0.803030,-0.568182,-0.287879
...,...,...,...,...,...,...,...
49997,0.400000,4817.388889,1236.833333,...,0.916667,0.777778,0.555556
49998,-1.625862,-36774.032258,-4302.516129,...,-0.112903,-0.838710,-0.774194
49999,2.165500,20759.950000,12161.450000,...,0.925000,0.575000,0.375000

In [21]:
%timeit df.groupby('profile_name').transform(de_mean)

1 loop, best of 3: 5.95 s per loop

In [22]:
%timeit (df-df.groupby('profile_name').transform('mean')).select_dtypes(exclude=['object'])

1 loop, best of 3: 3.58 s per loop

In [23]:
df.groupby('profile_name').ngroups

4124